* {
  box-sizing: border-box;
  margin: 0%;
}
body {
  background-color: #fff;
  font-family: Avenir Next, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
}
::selection {
  background: #ff5261;
  color: #fff;
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  border-bottom: 1px solid lightgray;
}
header .logo {
  width: 100%;
  max-width: 110px;
  height: auto;
}
header .media-icon {
  font-size: 30px;
  color: #ff1c30;
  transition-duration: 0.2s;
}
header .media-icon:active {
  color: #ff5261;
}

/* Main Body */
main {
  padding: 0px 200px;
}

/* accommodations.inc.php */
.cards {
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.card {
  height: auto;
  width: 100%;
  padding-bottom: 10px;
  border-radius: 15px;
  border: 1px solid #ff1c30;
}
.card .accommodation {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0px 0px;
}
.card p {
  padding-left: 20px;
  font-weight: 700;
}
.card .booking-page-btn {
  float: right;
  background-color: #ff1c30;
  color: #fff;
  border: none;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  margin-top: 4px;
  margin-right: 20px;
  transition: 0.5s;
  cursor: pointer;
}
.card .booking-page-btn:hover {
  box-shadow: 2px 2px 5px rgb(151, 151, 151);
}
.booking-page-btn:active {
  background-color: #ff5261;
}

/* bookings.inc.php */
.booking-page {
  font-size: 16px;
  font-weight: 400;
}
.accommodation-booking {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.accommodation-img {
  width: 100%;
  border-radius: 20px;
}
.accommodation-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.accommodation-info {
  max-width: 500px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.accommodation-location {
  font-size: 22px;
  font-weight: 700;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.accommodation-description {
  line-height: 20px;
  font-weight: 400;
}
.booking-form {
  border: 1px solid lightgray;
  border-radius: 20px;
  width: 300px;
  height: fit-content;
  padding: 10px;
  box-shadow: 2px 2px 5px rgb(212, 212, 212);
  margin-top: 5px;
}
.pricing {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.price-per-night {
  font-size: 22px;
  font-weight: 700;
  margin-right: 5px;
}
.booking-inputs {
  display: flex;
  flex-direction: column;
}
.booking-input {
  background-color: transparent;
  color: gray;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 3px;
  margin-bottom: 10px;
  cursor: pointer;
}
.check-in-out {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 12px;
}
.booking-label {
  color: gray;
  font-size: 15px;
  padding-left: 5px;
}
.start-end {
  border-left: 0.1px solid gray;
}
.date-input {
  border: none;
  margin-left: 5px;
  margin-bottom: 3px;
  font-size: 13px;
  outline: transparent;
  color: gray;
  cursor: pointer;
}
.stay-length {
  background-color: transparent;
  color: gray;
  font-size: 16px;
  border: none;
  outline: none;
  margin: 5px;
}
.booking-btn {
  background-color: #ff1c30;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.5s;
}
.booking-btn:hover {
  box-shadow: 2px 2px 5px rgb(151, 151, 151);
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  border-top: 1px solid lightgray;
}
footer span {
  color: #ff1c30;
}

/* Media Queries */
@media (max-width: 480px) {
  header {
    padding: 10px;
  }
  main {
    padding: 10px;
  }
  .accommodation-data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .accommodation-info {
    margin-right: 0px;
  }
  footer {
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  header {
    padding: 10px;
  }
  main {
    padding: 10px;
  }
  footer {
    padding: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  header {
    padding: 10px 30px;
  }
  main {
    padding: 10px 30px;
  }
  footer {
    padding: 10px 30px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  header {
    padding: 10px 50px;
  }
  main {
    padding: 10px 50px;
  }
  footer {
    padding: 10px 50px;
  }
}
@media (min-width: 1281px) and (max-width: 1899px) {
  header {
    padding: 10px 100px;
  }
  main {
    padding: 10px 100px;
  }
  footer {
    padding: 10px 100px;
  }
}
@media (min-width: 1900px) {
  header {
    padding: 10px 200px;
  }
  main {
    padding: 10px;
  }
  footer {
    padding: 10px 200px;
  }
}
