* {
  box-sizing: border-box;
  margin: 0%;
}
body {
  background-color: #fff;
  font-family: Avenir Next, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px 20px 200px;
  border-bottom: 1px solid lightgray;
}
header .logo {
  width: 100%;
  max-width: 110px;
  height: auto;
}
header form {
  border: 1px solid #ff1c30;
  border-radius: 50px;
  padding: 6px 16px;
}
header .search-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid lightgray;
  height: 30px;
  font-size: 14px;
  outline: none;
}
header .search-btn {
  background-color: #ff1c30;
  color: #fff;
  border: none;
  border-radius: 50px;
  width: 30px;
  height: 30px;
}
header a {
  background-color: #fff;
  color: #ff1c30;
  border: 1px solid #ff1c30;
  border-radius: 50px;
  padding: 8px 16px;
  text-decoration: none;
  transition: 0.5s;
}
header a:hover {
  box-shadow: 2px 2px 5px rgb(192, 192, 192);
}

/* Main Body */
main {
  padding: 0px 200px 0px 200px;
}
.cards {
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.card {
  height: auto;
  width: 100%;
  padding-bottom: 10px;
  border-radius: 15px;
  border: 1px solid #ff1c30;
}
.card .accommodation {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0px 0px;
}
.card p {
  padding-left: 20px;
  font-weight: 700;
}

/* Media Queries */
@media (max-width: 480px) {
  header {
    padding: 10px;
    flex-direction: column;
  }
  main {
    padding: 10px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  header {
    padding: 10px;
  }
  main {
    padding: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  header {
    padding: 10px 30px;
  }
  main {
    padding: 10px 30px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  header {
    padding: 10px 50px;
  }
  main {
    padding: 10px 50px;
  }
}
@media (min-width: 1281px) {
  header {
    padding: 10px 100px;
  }
  main {
    padding: 10px 100px;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 200px;
  border-top: 1px solid lightgray;
}

footer span {
  color: #ff1c30;

}